.calendar {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 25%;
    font-size: 50px;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.week-day {
    display: inline-block;
    height: 75px;
    width: 75px;
    border: 3px solid black;
    border-radius: 25%;
    font-size: 33px;
    margin: 5px;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}

