@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color:#ffebcd;
    font-family: "Lemonada";
    padding: 0 2rem;;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    margin: 0 5px;
}
.nav-li {
    color:#60401f ;
}
.nav-li:hover {
    color: burlywood;
}

@media (max-width: 490px) {
    .nav {
        justify-content: space-evenly;
    }
    .nav-links {
        font-size: larger;
        margin: 0 10px;
    }
    .nav-logo {
        width: 124px;
        height: 114px;
        
    }
}