.default-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
    height: 85vh;
    margin:0;
    padding: 0;
    font-size: xx-large;
    letter-spacing: 1px;
}

.default-button {
    background-color: goldenrod ;
    border: none;
    font-size: xxx-large;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px 0;
    letter-spacing: 3px;
}

@media (max-width: 600px) {
    .default-page {
        font-size: large;
    }
    
    .default-button {
        font-size: xx-large;
    }
}